body {
  background: rgb(10, 114, 41);
  box-sizing: border-box;
}

.card-container {
  display: flex;
  flex-wrap: nowrap; /* Evitar que las cartas se envuelvan a la siguiente línea */
  overflow-x: auto;
  max-width: 100%;
}

.card {
  text-align: center;
  background: white;
  margin: 10px;
  height: 150px; /* Esto mantiene el numero al centro!  */
  width: 100px;
  font-size: 24px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card::before {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 31px;
}

.card::after {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 31px;
}

.card.spade::before,
.card.spade::after {
  content: "\2660";
}
.card.club::before,
.card.club::after {
  content: "\2663";
}
.card.heart::before,
.card.heart::after {
  content: "\2665";
  color: red;
}
.card.diamond::before,
.card.diamond::after {
  content: "\2666";
  color: red;
}

.registro-cartas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.registro-cartas span {
  font-size: 18px;
  font-weight: bold;
  margin-right: 5px;
}

.registro-cartas .card {
  margin-right: 5px;
}
